<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cosmic Engine is a user-friendly alternative visualization tool to query data from the High Energy Astrophysics Science Archive Research Center (HEASARC) archive through the STScI NAVO Directory.">
    <title>Cosmic Engine</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <div id="time"></div>
        <div>
            <button>VO Service</button>
        </div>
        <h1>Cosmic Engine</h1>
        <img src="/images/logo.png" alt="logo">
    </header>
    <div id="search-dialog">
        <button id="close" class="close">x</button>
        <div id="buttons">
            <button>Simple Cone Search</button>
            <button>Simple Image Access Protocol</button>
            <button>Simple Spectral Access</button>
        </div>
        <div id="results">
            <button id="back-to-buttons" class="back">←</button>
            <div id="catalog-search-bar">
                <input id="catalog-search" type="text">
                <button>search</button>
            </div>
        </div>
        <div id="search">
            <button id="back-to-results" class="back">←</button>
            <div class="input">
                <label for="search-radius">Search Radius:</label>
                <input id="search-radius" type="number" placeholder="Degrees">
            </div>
            <br>
            <hr>
            <div class="bar">
                <h2 class="exception">Search by name</h2>
                <br>
                <div class="input">
                    <label for="name">Name:</label>
                    <input id="name" type="text">
                </div>
                <button id="name-search">Search</button>
            </div>
            <hr>
            <div class="bar">
                <h2>Search by coordinates</h2>
                <div class="input">
                    <label for="right-ascension">Right Ascension:</label>
                    <input id="right-ascension" type="number" placeholder="Degrees">
                </div>
                <br>
                <div class="input">
                    <label for="declination">Declination:</label>
                    <input id="declination" type="number" placeholder="Degrees">
                </div>
                <button id="coordinates-search">Search</button>
            </div>
        </div>
        <div id="catalog"></div>
    </div>
    <div id="catalog-result"></div>
    <div id="demo"></div>
</body>
<script src="/scripts/three.min.js"></script>
<script src="/scripts/jquery-3.5.1.min.js"></script>
<script src="/scripts/main.js"></script>
</html>
